.App {
  text-align: center;
}

.main-container{
  margin: 20px;
   
}
nav{
  border: 1px solid black;
  justify-content: space-between;
  display: flex;
  padding: 20px;
  background-color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  
 }

.nav-buttons{
display: flex;
flex-direction: row;
gap: 1rem;

}

main{
  background-color: lightsteelblue;
}

spine{
  font-size: larger;
  
}

.stud-datas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  justify-content: center;
  gap: 2rem;
  padding: 50px;
 }

 .stud-card{
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  padding: 2px;
 }

 .stud-button{
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 1rem;
  justify-content: center;
 }

 .stud-button>button{
 width: 60px;
 padding: 5px;
 border-radius: 10px;
 border: none;
 }

 .stud-button>button:hover{
  background-color: skyblue;
  color: white;
  }

  input{
    width: 50%;
    margin: 5px;
    padding: 5px;
  }

  .txtbx{
    border: 1px solid black;
    padding: 10px;
  }